In [1]:
t1=(1,2,3)
type(t1)

tuple

In [2]:
t2=()

In [3]:
type(t2)

tuple

In [4]:
t3=(2)
type(t3)

int

In [5]:
t3=(2,)
type(t3)

tuple

In [1]:
list1=[1,2,3,4]
t1=tuple(list1)

In [2]:
t1

(1, 2, 3, 4)

In [8]:
name="Aqklash"
t2=tuple(name)

In [9]:
t2

('A', 'q', 'k', 'l', 'a', 's', 'h')

In [10]:
t2[-1]

'h'

In [11]:
t2[0]

'A'

In [12]:
dict1={1:"x",2:"y"}
t3=tuple(dict1)

In [13]:
t3

(1, 2)

In [16]:
t1=(1, 3.4, 5+6j,True,"Str",[1,2,3],(4,5,6))

In [17]:
t1

(1, 3.4, (5+6j), True, 'Str', [1, 2, 3], (4, 5, 6))

In [18]:
t1[5]

[1, 2, 3]

In [19]:
t1[5][-1]

3

In [20]:
t1[-1][-1]

6

In [21]:
t1[0]="python"

TypeError: 'tuple' object does not support item assignment

In [22]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [23]:
t1+t3

(1, 3.4, (5+6j), True, 'Str', [1, 2, 3], (4, 5, 6), 1, 2)

In [25]:
print(t1*3)

(1, 3.4, (5+6j), True, 'Str', [1, 2, 3], (4, 5, 6), 1, 3.4, (5+6j), True, 'Str', [1, 2, 3], (4, 5, 6), 1, 3.4, (5+6j), True, 'Str', [1, 2, 3], (4, 5, 6))

In [26]:
len(t3)

2

In [27]:
t3

(1, 2)

In [28]:
len(t1)

7

In [29]:
t1

(1, 3.4, (5+6j), True, 'Str', [1, 2, 3], (4, 5, 6))

In [30]:
t1.count(1)

2

In [31]:
t1.index((4,5,6))

6

In [32]:
min(t1)

TypeError: '<' not supported between instances of 'complex' and 'int'

In [33]:
t1

(1, 3.4, (5+6j), True, 'Str', [1, 2, 3], (4, 5, 6))

In [34]:
min(t3)

1

In [35]:
max(t3)

2

In [36]:
sum(t3)

3

In [37]:
'str' in t1

False

In [38]:
'Str' in t1

True

In [39]:
# unpacking a tuple
fruits=("apple","banana","cherry")
green,yellow,red=fruits

In [40]:
green

'apple'

In [41]:
type(green)

str

In [47]:
fruits=("apple","banana","cherry", "mango","Grapes","Chikoo","pitch")
green,yellow,red=fruits

ValueError: too many values to unpack (expected 3)

In [48]:
green,yellow,*red=fruits

In [44]:
green

'apple'

In [45]:
yellow

'banana'

In [49]:
red

['cherry', 'mango', 'Grapes', 'Chikoo', 'pitch']

In [50]:
fruits=("apple","banana","cherry", "mango","Grapes","Chikoo","pitch")
*green,yellow,red=fruits

In [51]:
green

['apple', 'banana', 'cherry', 'mango', 'Grapes']

In [52]:
yellow

'Chikoo'

In [53]:
red

'pitch'

In [54]:
fruits=("apple","banana","cherry", "mango","Grapes","Chikoo","pitch")
green,*yellow,red=fruits

In [55]:
green

'apple'

In [56]:
yellow

['banana', 'cherry', 'mango', 'Grapes', 'Chikoo']

In [57]:

red

'pitch'

In [58]:
fruits=("apple","banana","cherry", "mango","Grapes","Chikoo","pitch")
*green,*yellow,red=fruits

SyntaxError: multiple starred expressions in assignment (3027914942.py, line 2)

In [59]:
t1.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [60]:
del t1

In [61]:
t1

NameError: name 't1' is not defined

In [62]:
# Dictionary -values are stored in form of key pair format
#its immutable, unordered,and elements are reffered with keys instead of index

In [63]:
mydict={}

In [65]:
type(mydict)

dict

In [67]:
mydict={1:["abc",3.4],
        2:(3,4,5),
        3:{1,2,3},
        4: 5+6j,
        5:"Str",
        6: True}

In [68]:
mydict

{1: ['abc', 3.4], 2: (3, 4, 5), 3: {1, 2, 3}, 4: (5+6j), 5: 'Str', 6: True}

In [69]:
mydict[0]

KeyError: 0

In [70]:
mydict[1]

['abc', 3.4]

In [71]:
mydict[1][1]

3.4

In [74]:
mydict={"Name":"xyz",
        (1,2):[1,2,34],
        [7,8]:(1,2,4,5)}

TypeError: unhashable type: 'list'

In [73]:
mydict["Name"]

'xyz'

In [77]:
carinfo={
        "brand":"Ford",
        "model":"Mustang",
        "year":1970,
        }
carinfo

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970}

In [79]:
carinfo={
        "brand":"Ford",
        "model":"Mustang",
        "year":1970,
        "year":1989
        }
carinfo

{'brand': 'Ford', 'model': 'Mustang', 'year': 1989}

In [81]:
carinfo={
        "brand":"Ford",
        "model":"Mustang",
        "year":1970,
        "year1":1970
        }
carinfo

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970, 'year1': 1970}

In [82]:
len(carinfo)

4

In [83]:
carinfo={
        "brand":"Ford",
        "model":"Mustang",
        "year":1970,
        "year1":
        }
carinfo

SyntaxError: expression expected after dictionary key and ':' (45066465.py, line 5)

In [87]:
carinfo["year1"]

1970

In [88]:
carinfo.get("model")

'Mustang'

In [90]:
l1=carinfo.keys()

In [91]:
type(l1)

dict_keys

In [92]:
carinfo.keys()

dict_keys(['brand', 'model', 'year', 'year1'])

In [93]:
carinfo.values()

dict_values(['Ford', 'Mustang', 1970, 1970])

In [94]:
carinfo.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1970), ('year1', 1970)])

In [95]:
carinfo["year1"]=1990

In [96]:
carinfo

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970, 'year1': 1990}

In [97]:
'Ford' in carinfo

False

In [98]:
'brand' in carinfo

True

In [99]:
carinfo["Price"]:2000000

In [100]:
carinfo

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970, 'year1': 1990}

In [101]:
carinfo.update({'Price':200000})

In [102]:
carinfo

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1970,
 'year1': 1990,
 'Price': 200000}

In [104]:
carinfo.update({'Price':200000,'color':"black"})

In [105]:
carinfo

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1970,
 'year1': 1990,
 'Price': 200000,
 'color': 'black'}

In [106]:
carinfo.popitem()

('color', 'black')

In [107]:
carinfo.popitem("year1")

TypeError: dict.popitem() takes no arguments (1 given)

In [108]:
del carinfo["year1"]

In [109]:
carinfo

{'brand': 'Ford', 'model': 'Mustang', 'year': 1970, 'Price': 200000}

In [110]:
carinfo.clear()

In [111]:
carinfo

{}

In [112]:
del carinfo

In [113]:
carinfo

NameError: name 'carinfo' is not defined