In [1]:
def show_employee(name,age,salary=9000):
    print(f"Name : {name}")
    print(f"Age : {age}")
    print(f"Salary : {salary}")
show_employee("Suyash Kale",28,10000)
show_employee("Suraj Gupta",26)

Name : Suyash Kale
Age : 28
Salary : 10000
Name : Suraj Gupta
Age : 26
Salary : 9000

In [3]:
def sum_between_two_numbers(start,end):
    if start > end: return 0
    else: return start + sum_between_two_numbers(start + 1,end)
s = int(input("Enter starting number : "))
e = int(input("Enter ending number : "))
print(f"The sum of numbers between {s} and {e} is : ",sum_between_two_numbers(s,e))

Enter starting number :  25
Enter ending number :  35

The sum of numbers between 25 and 35 is :  330

In [4]:
from datetime import datetime
list1 = [1991, 1992, 1994, 1996, 1998, 2000, 2001, 2002, 2004]
current_year = datetime.now().year
age_list = list(map(lambda dob:current_year - dob,list1))
print(age_list)

[33, 32, 30, 28, 26, 24, 23, 22, 20]

What is Function ?

A function in Python is a reusable block of code that performs a specific task. It can take zero or more inputs (arguments) and may or may not return an output. Functions help make code more modular, readable, and reusable.

Here are the key points about functions in Python:

- Functions are defined using the def keyword followed by the function name and parentheses () 
- The function body is indented and contains the code to be executed when the function is called 
- Functions can take arguments which are variables passed into the function when it is called 
- Arguments can have default values if not provided when calling the function 
- Functions can return a value using the return statement [1][3].
- Python has built-in functions like print(), len(), etc. as well as user-defined functions 
- Functions can be called by their name followed by parentheses () containing any required arguments 
- Variables defined inside a function are local to that function and independent of variables with the same name in other functions or the global scope

Functions make code more modular, reusable, and easier to read and maintain. They allow you to break down complex problems into smaller, manageableÂ tasks.

In [13]:
# Simple Interest using Function - Parameterised Function

def simple_interest(p,r,t):return (p*r*t)/100 # p,r,t are the parameters
pr = int(input("Enter the Principal Amount : "))
rate = float(input("Enter the Rate of Interest : "))
time = float(input("Enter the Time in Years : "))
print("Simple Interest : ",simple_interest(pr,rate,time)) # pr,rate,time refer to the parameters p,r,t respectively

Enter the Principal Amount :  500000
Enter the Rate of Interest :  7.5
Enter the Time in Years :  10

Simple Interest :  375000.0

Type of Functions
1. Built-in Function
2. User Defined Function
3. Anonymous Function (lambda expressions)
4. Recursive Function

In [5]:
# Simple Interest using Anonymous (Lambda) Function
si = lambda p,r,t: (p*r*t)/100
print("Simple Interest : ",si(10000,6.5,5))

Simple Interest :  3250.0

In [7]:
def factorial(n):
    fact = 1
    if n < 0: print("Factorial Does not exists for negative numbers")
    elif n == 0 or n == 1: print("Factorial : 1")
    else:
        for i in range (1,n+1): fact *= i
        return fact
x = int(input("Enter a Number : "))
print(f"Factorial of {x} : ",factorial(x))

Enter a Number :  10

Factorial of 10 :  3628800

In [9]:
def even_number(x):
    print(f"{x} is an Even Number") if x % 2 == 0 else print(f"{x} is an Odd Number")
n = int(input("Enter a Number : "))
even_number(n)

Enter a Number :  24

24 is an Even Number

In [11]:
def multiplication_table(x):
    for i in range(1,11): print(x,"X",i,"=",x*i)
n = int(input("Enter a number to print its multiplication table : "))
multiplication_table(n)

Enter a number to print its multiplication table :  725

725 X 1 = 725
725 X 2 = 1450
725 X 3 = 2175
725 X 4 = 2900
725 X 5 = 3625
725 X 6 = 4350
725 X 7 = 5075
725 X 8 = 5800
725 X 9 = 6525
725 X 10 = 7250

In [19]:
def reverse_string(x):return x[::-1]
str = input("Enter a string : ")
print("Reverse : ",reverse_string(str))

Enter a string :  suyash

Reverse :  hsayus

In [22]:
def square(x):return x ** 2
n = int(input("Enter a number : "))
print(f"Square of {n} : ",square(n))

Enter a number :  35

Square of 35 :  1225

In [2]:
def add(a,b): return a + b
def sub(a,b): return a - b
def mul(a,b): return a * b
def div(a,b): return a / b
def mod(a,b): return a % b
def floor(a,b): return a // b
def exp(a,b): return a ** b
def blshift(a,b): return a << b
def brshift(a,b): return a >> b
def band(a,b): return a & b
def bor(a,b): return a | b
def bxor(a,b): return a ^ b
def bnot(a,b): return ~a , ~b
x = int(input("Enter 1st number : "))
y = int(input("Enter 2nd number : "))
op = input("Choose Operation (+,-,*,/,%,//,**,<<,>>,&,|,^,~): ")
match op:
    case "+": print(f"{x} + {y} : ",add(x,y))
    case "-": print(f"{x} - {y} : ",sub(x,y))
    case "*": print(f"{x} * {y} : ",mul(x,y))
    case "/": print(f"{x} / {y} : ",div(x,y))
    case "%": print(f"{x} % {y} : ",mod(x,y))
    case "//": print(f"{x} // {y} : ",floor(x,y))
    case "**": print(f"{x} ** {y} : ",exp(x,y))
    case "<<": print(f"{x} << {y} : ",blshift(x,y))
    case ">>": print(f"{x} >> {y} : ",brshift(x,y))
    case "&": print(f"{x} & {y} : ",band(x,y))
    case "|": print(f"{x} | {y} : ",bor(x,y))
    case "^": print(f"{x} ^ {y} : ",bxor(x,y))
    case "~": print(f"~ {x} and ~ {y} : ",bnot(x,y))
    case _: print("Invalid Operation")

Enter 1st number :  20
Enter 2nd number :  4
Choose Operation (+,-,*,/,%,//,**,<<,>>,&,|,^,~):  <<

20 << 4 :  320

In [3]:
print(pow(2,3,4))

0

In [4]:
import math
print(math.sqrt(25))
print(min(3,4))
print(max(5,8))

5.0
3
8

In [5]:
import datetime
print(datetime.datetime.now())

2024-07-04 12:36:48.348165

In [9]:
def club():
    return 1,2,3,4,5,6,7,8,9,10
club()

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
def my_file():
    return 1,2,3,4,5
data = my_file()
print(data[2])

3

In [12]:
def demo():
    s1 = "hello"
    x = 3
    return [s1,x]
print(demo())

['hello', 3]

In [18]:
def demo1():
    dtc = dict()
    dtc['name'] = "Suyash"
    dtc['age'] = 28
    return dtc
data = demo1()
print(type(data))

<class 'dict'>

In [1]:
def sqr(a): return a * a
sqr(2)

4

In [4]:
def sqr(a=9): return a*a
#sqr(10)
sqr()

81

In [6]:
def multiplication_table(x=10):
    for i in range(1,11): print(x,"X",i,"=",x*i)
#multiplication_table()
multiplication_table(15)

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [10]:
# Keyword Arguments
import math
def volume_cylinder(r,h):
    print("Volume of Cylinder : ",math.pi*r*r*h)
volume_cylinder(r=10,h=5)
print("Sequence Changed")
volume_cylinder(h=5,r=10)

Volume of Cylinder :  1570.7963267948967
Sequence Changed
Volume of Cylinder :  1570.7963267948967

In [12]:
def my_function(**man):
    print("Last Name : "+man["lname"])
my_function(fname = "Suyash", lname = "Kale")

Last Name : Kale

In [14]:
def my_function(*man):
    print("The youngest man is "+man[2])
my_function("Suyash","Suraj","Vaibhav")

The youngest man is Vaibhav

In [20]:
def sum(*x):
    print(x)
    print(type(x))
    sum = 0
    for i in x: sum += i
    print("Sum : ",sum)
sum(10,20)
sum(10,20,30)
sum(10,20,30,40)

(10, 20)
<class 'tuple'>
Sum :  30
(10, 20, 30)
<class 'tuple'>
Sum :  60
(10, 20, 30, 40)
<class 'tuple'>
Sum :  100

In [21]:
def sum(**x):
    print(x)
    print(type(x))
    sum = 0
    for i in x: sum += x[i]
    print("Sum : ",sum)
sum(first = 10,second = 20,third = 30,fourth = 40)

{'first': 10, 'second': 20, 'third': 30, 'fourth': 40}
<class 'dict'>
Sum :  100

In [24]:
si = lambda p,r,t:(p*r*t)/100
print("Simple Interest : ",si(5000,6,5))

Simple Interest :  1500.0

In [25]:
age = [21,7,12,45,36,28,30,45,67,80]
adult = filter(lambda age: age>=18,age)
print(list(adult))

[21, 45, 36, 28, 30, 45, 67, 80]

In [26]:
cities = ["India","Germany","America","Japan"]
sortedlist = sorted(cities,key=lambda city:city.lower())
print(sortedlist)

['America', 'Germany', 'India', 'Japan']

In [27]:
number = [1,2,3,4,5]
print([(lambda x:x**3)(x) for x in number])

[1, 8, 27, 64, 125]

In [3]:
print(list(map((lambda x: x**3),[1,2,3,4,5,6,7,8,9,10])))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [4]:
print([1,2,3,4,5,6,7,8,9,10] * 2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
print(list(map((lambda y:y**4),[0,1,2,3,4,5,6,7,8,9,10])))

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [9]:
import math as m
print(list(map((m.sqrt),[1,4,9,16,25,36,49,64,81,100])))

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]

In [12]:
def product(x): return x ** 3
l1 = [1,2,3,4,5,6,7,8,9,10]
print(list(map(product,l1)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [22]:
l3 = [1,2,3,4,5]
print(list(map((lambda x:x % 2==0),l3)))

[False, True, False, True, False]

In [23]:
l4 = [1,2,3,4,5]
print(list(filter((lambda x:x % 2==0),l4)))

[2, 4]

In [25]:
def grade(score): return score >= 75
print(list(filter(grade,[56,7,8,9,90,93,95,84,77,60,75,80])))

[90, 93, 95, 84, 77, 75, 80]

In [26]:
languages = ["Java","Python","JavaScript"]
versions = [14,3,6]
print(list(zip(languages,versions)))

[('Java', 14), ('Python', 3), ('JavaScript', 6)]

In [35]:
number = [1,2,3]
str = ["one","two","three"]
print("Converting iterator to list : ",list(zip(number,str)))
print("Converting iterator to set : ",set(zip(number,str)))
print("Converting iterator to tuple : ",tuple(zip(number,str)))
print("Converting iterator to dictionary : ",dict(zip(number,str)))

Converting iterator to list :  [(1, 'one'), (2, 'two'), (3, 'three')]
Converting iterator to set :  {(3, 'three'), (1, 'one'), (2, 'two')}
Converting iterator to tuple :  ((1, 'one'), (2, 'two'), (3, 'three'))
Converting iterator to dictionary :  {1: 'one', 2: 'two', 3: 'three'}

In [37]:
numbers = [1,2,3,4]
strs = ['one','two','three','four']
numbers_tuple = ('ONE','TWO','THREE','FOUR')
result1 = zip(numbers,strs,numbers_tuple)
print("Converting to set : ",set(result1))
result2 = zip(numbers,strs,numbers_tuple)
print("Converting to set : ",set(result2))

Converting to set :  {(1, 'one', 'ONE'), (4, 'four', 'FOUR'), (3, 'three', 'THREE'), (2, 'two', 'TWO')}
Converting to set :  {(1, 'one', 'ONE'), (4, 'four', 'FOUR'), (3, 'three', 'THREE'), (2, 'two', 'TWO')}

In [47]:
from functools import reduce
def largest(x,y):
    if x > y: return x
    else: return y
print("Largest Number : ",reduce((lambda x,y:x if x>y else y),[56,7,8,9,90,93,95,84,77,60,75,80]))
print("Smallest Number : ",reduce((lambda x,y:x if x<y else y),[56,7,8,9,90,93,95,84,77,60,75,80]))

# This function does not return an iterable. For returning an iterable we have to use lambda function

Largest Number :  95
Smallest Number :  7