In [7]:
import pandas as pd
numbers = pd.Series([1,2,3,4,5,6,7,8,9,10])
def f(x): return x / 2
result = numbers.apply(f)
print("Original Series:")
print(numbers)
print("Resulting Series after applying f(x) = x/2:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
Resulting Series after applying f(x) = x/2:
0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
5    3.0
6    3.5
7    4.0
8    4.5
9    5.0
dtype: float64

In [10]:
import pandas as pd
data = {
    'name': ['Vinay', 'Kushal', 'Aman'],
    'age': [22, 25, 24],
    'occ': ['engineer', 'doctor', 'accountant']
}
df = pd.DataFrame(data)
print(df)

     name  age         occ
0   Vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant

In [11]:
import pandas as pd
data = {
    'cname': ['Shyam & Co.', 'Ramlal & Bros.', 'Sharma Enterprises', 'Verma Furnitures', 'Rahul Stores'],
    'profit': [-10000, 10000, -5000, 15000, 20000]
}
df = pd.DataFrame(data)
df['profit'] = df['profit'] > 0
print("Modified DataFrame:")
print(df)

Modified DataFrame:
                cname  profit
0         Shyam & Co.   False
1      Ramlal & Bros.    True
2  Sharma Enterprises   False
3    Verma Furnitures    True
4        Rahul Stores    True

In [12]:
import pandas as pd
data = {
    'eid': [1, 2, 3, 4],
    'ename': ['Sid', 'Ramesh', 'Ron', 'Harry'],
    'stipend': [10000, 10000, 5000, 15000],
    'position': ['employee', 'employee', 'intern', 'senior_employee']
}
df = pd.DataFrame(data)
summary = df.describe()
print("Statistical Summary :")
print(summary)

Statistical Summary :
            eid       stipend
count  4.000000      4.000000
mean   2.500000  10000.000000
std    1.290994   4082.482905
min    1.000000   5000.000000
25%    1.750000   8750.000000
50%    2.500000  10000.000000
75%    3.250000  11250.000000
max    4.000000  15000.000000