In [5]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [8]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [11]:
for i in range(1,11,1):
    if(i%2 == 0):print(i)

2
4
6
8
10

In [12]:
for i in range(11):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9 10

In [17]:
# Sum of First 10 numbers using for loop
sum = 0
for i in range(1,11):
    sum += i
print("Sum of First 10 Numbers : ",sum)

Sum of First 10 Numbers :  55

In [4]:
# Factorial of a number
n = int(input("Enter a Number : "))
if n < 0: print("Factorial Does not Exist for Negative Numbers !!!!")
elif n == 0 or n == 1: print("Factorial : 1")
else:
    fact = 1
    for i in range(1,n+1):fact *= i
    print(f"{n}! : ",fact)

Enter a Number :  5

5! :  120

In [34]:
# Fibonacci series in Python
n = int(input("Enter a number upto which Fibonacci Series is to be printed : "))
x,y = 0,1
for i in range(n):
    print(x,end = " ")
    x,y = y,x+y

Enter a number upto which Fibonacci Series is to be printed :  10

0 1 1 2 3 5 8 13 21 34

In [38]:
# While loop
i = 1
while i<11:
    print(i,end = " ")
    i += 1

1 2 3 4 5 6 7 8 9 10

In [40]:
num = int(input("Enter the number to print multiplication table : "))
for i in range(1,11): print(num,"X",i,"=",num*i)

Enter the number to print multiplication table :  15

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [43]:
num = int(input("Enter the number to print multiplication table : "))
i = 1
while i<11:
    print(num,"X",i,"=",num*i)
    i += 1

Enter the number to print multiplication table :  15

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [6]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
n = int(input("Enter the number of terms : "))
total_sum,term = 0,2
for i in range(n):
    total_sum += term
    term = term * 10 + 2
print(f"The sum of the series up to {n} terms is: {total_sum}")

Enter the number of terms :  5

The sum of the series up to 5 terms is: 24690

In [6]:
List1 = [12, 23, 34, 45, 56, 67, 78, 89, 90]
print(["Even" if num % 2 == 0 else "ODD" for num in List1])

['Even', 'ODD', 'Even', 'ODD', 'Even', 'ODD', 'Even', 'ODD', 'Even']