In [3]:
# Cube of a number
x = int(input("Enter a number : "))
print("Cube : ", x ** 3)

Enter a number :  7

Cube :  343

In [4]:
# Celsius to Farhenheit Temperature
c = float(input("Enter Temperature in Celsius : "))
print("Temperature in Farhenheit : ", c * 9 / 5 + 32)

Enter Temperature in Celsius :  25.25

Temperature in Farhenheit :  77.45

In [5]:
# Area of Circle
r = int(input("Enter radius of circle : "))
print("Area of Circle : ", 3.142 * r * r)

Enter radius of circle :  10

Area of Circle :  314.2

In [6]:
# Area of Rectangle
l = int(input("Enter Length : "))
b = int(input("Enter Breadth : "))
print("Area of Rectangle : ", l * b)

Enter Length :  20
Enter Breadth :  10

Area of Rectangle :  200

CONDITIONAL STATEMENTS IN PYTHON

In [7]:
# Condition to check whether a person is eligible for voting or not
age = int(input("Enter Your Age : "))
if(age >= 18):
    print("You are eligible for Voting")
else:
    print("Sorry !!!!!! , You are Not Eligible for Voting")

Enter Your Age :  25

You are eligible for Voting

In [8]:
# What will be the output of the following program ?
if(True):
    print("Hello")
else:
    print("Bye")

Hello

In [9]:
# Even or Odd
n = int(input("Enter a number : "))
if(n % 2 == 0):
    print("Even Number")
else:
    print("Odd Number")

Enter a number :  6

Even Number

In [10]:
# Greater of 2 numbers
a = int(input("Enter 1st number : "))
b = int(input("Enter 2nd number : "))
if(a > b):
    print("Greater Number : ",a)
else:
    print("Greater Number : ",b)

Enter 1st number :  80
Enter 2nd number :  4

Greater Number :  80

In [11]:
# Greatest of 3 Numbers
x = int(input("Enter 1st number : "))
y = int(input("Enter 2nd number : "))
z = int(input("Enter 3rd number : "))
if(x > y > z):
    print("Highest Number : ",x)
elif(y > x > z):
    print("Highest Number : ",y)
else:
    print("Highest Number : ",z)

Enter 1st number :  20
Enter 2nd number :  40
Enter 3rd number :  9

Highest Number :  40

In [12]:
# Negative, Non-Negative or Positive Number
n = int(input("Enter a Number : "))
if(n < 0):
    print("Negative Number")
elif(n > 0):
    print("Positive Number")
else:
    print("0")

Enter a Number :  9

Positive Number

In [13]:
city = input("Enter a city in India : ")
if(city == "Delhi"):
    print("Red Fort")
elif(city == "Agra"):
    print("Taj Mahal")
elif(city == "Jaipur"):
    print("Hawa Mahal")
else:
    print("Your city is not present in the list")

Enter a city in India :  Delhi

Red Fort

In [14]:
cp = int(input("Enter the Cost Price of Bike : "))
if(cp > 100000):
    print("Total Amount : ",cp * 1.15)
elif(cp > 50000 and cp <= 100000):
    print("Total Amount :",cp * 1.1)
else:
    print("Total Amount : ",cp * 1.05)

Enter the Cost Price of Bike :  100000

Total Amount : 110000.00000000001

In [15]:
n1 = int(input("Enter 1st number : "))
n2 = int(input("Enter 2nd number : "))
op = input("Enter your operator (+,-,*,/,%,//,**) : ")
if(op == '+'):
    print("You chose ",op," Sum : ",n1+n2)
elif(op == '-'):
    print("You chose ",op," Difference : ",n1-n2)
elif(op == '*'):
    print("You chose ",op," Product : ",n1*n2)
elif(op == '/'):
    print("You chose ",op," Division : ",n1/n2)
elif(op == '%'):
    print("You chose ",op," Remainder : ",n1%n2)
elif(op == '//'):
    print("You chose ",op," Quotient : ",n1//n2)
elif(op == '**'):
    print("You chose ",op," Exponential : ",n1**n2)
else:
    print("Please Enter a Valid Operator")

Enter 1st number :  45
Enter 2nd number :  7
Enter your operator (+,-,*,/,%,//,**) :  +

You chose  +  Sum :  52

In [6]:
age = int(input("Enter your age : "))
gender = input("Enter your gender : ")
nod = int(input("Enter your Number of Days : "))
if age >= 18 and age < 30 and gender.upper() == "M":
    amt = nod*700
    print("Total Wages : ",amt)
elif age >= 18 and age < 30 and gender.upper() == "F":
    amt = nod * 750
    print("Total Wages : ",amt)
elif age >= 30 and age <= 40 and gender.upper() == "M":
    amt = nod * 800
    print("Total Wages : ",amt)
elif age >= 30 and age <= 40 and gender.upper() == "F":
    amt = nod * 850
    print("Total Wages : ",amt)
else:
    print("Enter Appropriate Age !!!!")

Enter your age :  25
Enter your gender :  m
Enter your Number of Days :  30

Total Wages :  21000

In [8]:
d = int(input("Enter the number of days : "))
if(d<=5):
    print("Charge : ",d*2)
elif(d>=6 and d<=10):
    print("Charge : ",d*3)
elif(d>=11 and d<=15):
    print("Charge : ",d*4)
else:
    print("Charge : ",d*5)

Enter the number of days :  20

Charge :  100

In [15]:
month = int(input("Enter a number between 1 and 12 :"))
if(month == 1):
    print("Month is January and No. of Days are 31")
elif(month == 2):
    print("Month is February and No. of Days are 28/29")
elif(month == 3):
    print("Month is March and No. of Days are 31")
elif(month == 4):
    print("Month is April and No. of Days are 30")
elif(month == 5):
    print("Month is May and No. of Days are 31")
elif(month == 6):
    print("Month is June and No. of Days are 30")
elif(month == 7):
    print("Month is July and No. of Days are 31")
elif(month == 8):
    print("Month is August and No. of Days are 31")
elif(month == 9):
    print("Month is September and No. of Days are 30")
elif(month == 10):
    print("Month is October and No. of Days are 31")
elif(month == 11):
    print("Month is November and No. of Days are 30")
elif(month == 12):
    print("Month is December and No. of Days are 31")
else:
    print("Please Enter a number BETWEEN 1 and 12 ONLY")

Enter a number between 1 and 12 : 11

Month is November and No. of Days are 30

In [27]:
td = int(input("Enter Total Number of Days : "))
ad = int(input("Enter Absent Number of Days : "))
att = ((td - ad) / td) * 100
print("Attendance Percentage : ",att)
if(att >= 75):
    print("You CAN sit for the Exam")
else:
    print("You CANNOT sit for the Exam")

Enter Total Number of Days :  100
Enter Absent Number of Days :  4

Attendance Percentage :  96.0
You CAN sit for the Exam

In [2]:
p = float(input("Enter the percentage : "))
if(p < 25):
    print("Grade : D")
elif(p>=25 and p<45):
    print("Grade : C")
elif(p>=45 and p<50):
    print("Grade : B")
elif(p>=50 and p<60):
    print("Grade : B+")
elif(p>=60 and p<=80):
    print("Grade : A")
else:
   print("Grade : A+")

Enter the percentage :  96

Grade : A+

In [34]:
i,j,k = int(input("Enter i : ")),int(input("Enter j : ")),int(input("Enter k : "))
print("Values of i,j,k respectively before Logic :",i,j,k)
# Logic Begins
if i<j:
    if j<k:
        i = j
    else:
        j = k
else:
    if j > k:
        j = i
    else:
        i = k
# Logic Ends
print("Values of i,j,k respectively after Logic :",i,j,k)

Enter i :  -2
Enter j :  -5
Enter k :  9

Values of i,j,k respectively before Logic : -2 -5 9
Values of i,j,k respectively after Logic : 9 -5 9

In [2]:
kms = int(input("Enter number of kilometres : "))
if(kms <= 10):
    print("Bill : ",kms * 11)
elif(kms >= 11 and kms <= 100):
    print("Bill : ",kms * 10)
else:
    print("Bill : ",kms * 9)

Enter number of kilometres :  375

Bill :  3375

ITERATION STATEMENTS IN PYTHON (LOOPS)

In [21]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
import re
def find_all_occurunces(input_str):
    return [match.start() for match in re.finditer(r'USA',input_str,re.IGNORECASE)]
str1 = "Welcome to USA. usa is awesome, isn't it?"
occurrences = find_all_occurunces(str1)
print("Occurrences of 'USA' found at positions:", occurrences)

Occurrences of 'USA' found at positions: [11, 16]

In [4]:
str1 = "Emma-is-a-data-scientist"
substrings = str1.split('-')
for substring in substrings : print(substring)

Emma
is
a
data
scientist

In [5]:
tuple1 = (11, 22, [33, 44, 55], 66, 77)
tuple1[2][1] = 444
print(tuple1)

(11, 22, [33, 444, 55], 66, 77)

In [6]:
from itertools import zip_longest
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
new_list = [i + j for i, j in zip_longest(list1, list2, fillvalue='')]
print(new_list)

['My', 'name', 'is', 'Kelly']

In [7]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 75000},
    'emp2': {'name': 'Emma', 'salary': 80000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary'] = 85000
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 75000}, 'emp2': {'name': 'Emma', 'salary': 80000}, 'emp3': {'name': 'Brad', 'salary': 85000}}

In [8]:
set1 = {10, 20, 30, 40, 50, 60, 70}
set2 = {40, 50, 60, 70, 80, 90}
result = set1 ^ set2
print(result)

{10, 80, 20, 90, 30}

In [9]:
age = int(input("Enter age: "))
gender = input("Enter gender (M or F): ").upper()
marital_status = input("Enter marital status (Y or N): ").upper()
if gender == 'F':
    print("Place of service: Urban areas only")
elif gender == 'M':
    if 20 <= age <= 40:
        print("Place of service: Anywhere")
    elif 40 <= age <= 60:
        print("Place of service: Urban areas only")
    else:
        print("ERROR")
else:
    print("ERROR")

Enter age:  28
Enter gender (M or F):  M
Enter marital status (Y or N):  N

Place of service: Anywhere