In [2]:
## Python String functions.
String ="hi, Welcome to ItVedant"
print(String)

hi, Welcome to ItVedant

In [ ]:
# slicing string
String[0:] # returns all the characters from index 0

In [ ]:
String[::-1]# returns all charactrers in reverse order

In [ ]:
String[0:7:2]# returns the characters starting with index 0 till index 6(7-1) by step 2

In [ ]:
String[-1:-6:-2] # returns the characters starting with index -1(backword) till -5 with step 2

In [ ]:
String[4:9] # returns the characters starting with index 4 till index 8 by default step 1

In [ ]:
String[4:9:0]# step cannot be 0

### Buiilt in functions of string

In [ ]:
len(String) # returns total no of characters in the string

In [ ]:
String.upper() #converts the entire stirng to upper case

In [ ]:
String.lower() #converts the entire stirng to lower case

In [3]:
String.capitalize() # converts the first letter of string in capital letter

'Hi, welcome to itvedant'

In [ ]:
String.count('gh') # count function returns the no of count of substring in given string

In [ ]:
String1="This is python tutorial,it includes all Python built in functions"

In [ ]:
String1.count("python")

In [ ]:
String1.count("python",0,5) # last 2 parameters indicate starting and ending position and optional

In [ ]:
String1.index("i") # it returns the first occurance index of given character.

In [ ]:
"    hi, this is example of strip function    ".strip() # it removes leading and trailing spaces in the string

In [ ]:
"    hi, this is example of strip function    ".rstrip() # it removes trailing spaces in the string

In [ ]:
"    hi, this is example of strip function    ".lstrip()# it removes leading spaces in the string

In [ ]:
print(String1.split(),end="") # it split the string into elemets of list,by default by space

In [ ]:
String1.split(",") # it splits the string based on paramerter provided.

In [ ]:
String1.split("in")

In [ ]:
String1.rsplit(",")

In [ ]:
str1="Hi" ## string concat using + operator
str2="WElcome"
str3=str1+" "+str2
str3

In [ ]:
# Python program to demonstrate the
# use of join function to join list
# elements with a character.

list1 = ["1",'2']

s = "hi"

# joins elements of list1 by '-'
# and stores in string s
s = s.join(list1)

# join use to join a list of
# strings to a separator s
print(s)

In [ ]:
s1="$"
s1=s1.join(list1)

In [ ]:
s1

In [ ]:
str4="learning python"

str4.isupper()# it checks whether all charactrers are in upper case or not

In [ ]:
str4.islower()# it checks whether all charactrers are in lower case or not

In [ ]:
str4.isalnum()# checks whether string contains alphabets and numbers

In [ ]:
str5="232423"
str5.isnumeric()

In [6]:
first=" This is python. python is easy to learn "
first.replace("python","PYTHON")

' This is PYTHON. PYTHON is easy to learn '

In [ ]:
str4.title()# converts the sting into title case

In [4]:
del first# deletes the entire string

In [5]:
first

NameError: name 'first' is not defined

In [9]:
first.find("p") # returns the fisrt occurance index of the given character as parameter

9

In [11]:
first.index("python")

9

### String fomratting

In [17]:
# Define a string value   
str = "ItVedant!"  
b=45
# using %s to appending string  
print("Hello Python developers! Welcome to, %s !" %str)  
type(b)

Hello Python developers! Welcome to, ItVedant! !

int

In [20]:
add=46
print("the addition is %f" %add)
type(add)

the addition is 46.000000

int

In [21]:
# Declaring multiple string values  
mkr1 = "developers"  
mkr2 = "Itvedant"  
mkr3 = "day"  
# Appending multiple string values inside a single string  
print("Hello Python %s, Welcome to the %s! We hope you are having a good %s." % (mkr1, mkr2, mkr3))

Hello Python developers, Welcome to the Itvedant! We hope you are having a good day.

In [28]:
# Declaring multiple string variables  
mkr1 = "Hey"  
mkr2 = "Python"  
mkr3 = "Developers"  
mkr4 = "Welcome"  
mkr5 = "to"  
mkr6 = "Itvedant"  
# Mapping multiple string variables into a single string  
ResultantStr = "%s %s %s %s %s %s" % (mkr1, mkr2, mkr3, mkr4, mkr5,mkr6)  
# Printing result in output  
print("Resultant mapped string using %s operator:")   
print(ResultantStr)

Resultant mapped string using %s operator:
Hey Python Developers Welcome to Itvedant

In [32]:
# Declaring multiple string variables  
mkr1 = "Hey"  
mkr2 = "Python"  
mkr3 = "Developers"  
mkr4 = "Welcome"  
mkr5 = "to"  
mkr6 = "JavaTpoint"  
# Declaring a list variable also  
AList = ["Java", "Python", "C++", "HTML", "JavaScript"]  
# Mapping string variables with list variable into a single string  
ResultantStr = "%s %s %s %s %s %s, %s" % (mkr1, mkr2, mkr3, mkr4, mkr5, mkr6, AList)  
# Printing result in output  
print("Resultant mapped string with list variable in it: ")   
print(ResultantStr)

Resultant mapped string with list variable in it:
Hey Python Developers Welcome to JavaTpoint, ['Java', 'Python', 'C++', 'HTML', 'JavaScript']

In [33]:
print('We all are {}.'.format('equal'))

We all are equal.

In [36]:
price=int(input("enter the price"))
txt = "The price is {} dollars"
print(txt.format(price))
print("the price is price dollers")

The price is 89 dollars
the price is price dollers

In [37]:
print('{2} {1} {0}'.format('directions','the', 'Read'))

Read the directions

In [38]:
print('The first {p} was alright, but the {p} {p} was tough.'.format(p = 'second'))

The first second was alright, but the second second was tough.

In [8]:
print('The value of pi is: %f' %(3.141592))

The value of pi is: 3.141592

NameError: name 'pi' is not defined

In [44]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [45]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.