**Tuple**


A tuple is a frozen list i.e tuple cannot be modified once it is created.

A tuple is declared with round parentheses ()

As tuple are immutable, iterating through tuple is faster than with list
 
tuple is a collection which is ordered and unchangeable and allows duplicates.

In [1]:
tuple1 = tuple() # it crreates empty tuple
print(tuple1)
t1=(1)
print(t1)
a=2,
print(tuple(a))

()
1
(2,)

In [6]:
# when an iterable(e.g., list) is passed
list1= [ 1, 2, 3, 3 ] 
tuple2 = tuple(list1)
print(tuple2)
type(tuple2)

(1, 2, 3, 3)

tuple

In [7]:
tuple2

(1, 2, 3, 3)

In [4]:
# when an iterable(e.g., dictionary) is passed
dict1 = { 1 : 'one', 2 : 'two' } 
tuple3 = tuple(dict1)
print(tuple3)

(1, 2)

In [8]:
len(tuple3)

2

In [9]:
# when an iterable(e.g., string) is passed
string = "Tuple Example" 
tuple4 = tuple(string)
print(tuple4)

('T', 'u', 'p', 'l', 'e', ' ', 'E', 'x', 'a', 'm', 'p', 'l', 'e')

In [12]:
#Error when a non-iterable is passed
tuple1 = tuple(1)
print(tuple1)

TypeError: tuple expected at most 1 argument, got 2

In [13]:
# len() function gives total no of characters of tuple
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [14]:
#Create Tuple With One Item
#To create a tuple with only one item, you have to add a comma after the item, 
#otherwise Python will not recognize it as a tuple.
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [15]:
#Access Tuple Items
#You can access tuple items by referring to the index number, inside square brackets:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
thistuple[1]="abc"

banana

TypeError: 'tuple' object does not support item assignment

In [16]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [17]:
#2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), 
#and add it to the existing tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
new_tuple=thistuple+y

print(new_tuple)

('apple', 'banana', 'cherry', 'orange')

In [18]:
#The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [2]:
#Unpacking a Tuple
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
#But, in Python, we are also allowed to extract the values back into variables.
#This is called "unpacking":
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [19]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits


print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [24]:
(*red, green, yellow ) = fruits
print(red)
print(green)
print(yellow)

['apple', 'banana', 'cherry']
strawberry
raspberry

In [25]:
#multiplying tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [26]:
#count()Returns the number of times a specified value occurs in a tuple
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [27]:
#index()Searches the tuple for a specified value and returns the position of where it was found first occurance
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [28]:
min(thistuple)

1

In [29]:
max(thistuple)

8

In [30]:
#Tuple Membership Test
#We can test if an item exists in a tuple or not, using the keyword in.
# Membership test in tuple
my_tuple = ('a', 'p', 'p', 'l', 'e',)

# In operation
print('a' in my_tuple)
print('b' in my_tuple)

# Not in operation
print('g' not in my_tuple)
print('p' not in my_tuple)

True
False
True
False

In [31]:
# Using a for loop to iterate through a tuple
for i in my_tuple:
    print(i)

a
p
p
l
e

**Advantages of Tuple over List**

Since tuples are quite similar to lists, both of them are used in similar situations. However, there are certain advantages of implementing a tuple over a list. Below listed are some of the main advantages:

We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.
Since tuples are immutable, iterating through a tuple is faster than with list. So there is a slight performance boost.
Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

In [3]:
a=(1,2,3,4,"hello")
type(a)

tuple